/kytea.pc
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
config.h.in
configure
install-sh
libtool
ltmain.sh
m4
.deps
.libs
*.o
*.lo
*.la
*.swp
*.tar.gz
src/api/api-example
src/bin/kytea
src/bin/train-kytea
src/bin/test-kytea
src/test/test-kytea
stamp-h1
config.in.h
missing
depcomp
compile
